[Unit]
Description=Signal Channel Forwarder

[Service]
User=user
Type=simple
WorkingDirectory=/home/user/signals_helper
ExecStart=/usr/bin/python3.9 /home/user/signals_helper/main.py -service
Restart=on-failure

[Install]
WantedBy=default.target